h1,p{
    color: darkcyan;
    margin-top: 0;
    padding-top: 5%;
}

input{
    height: 5vh;
    border-radius: 2%;
    font-size: 1.5rem;
    text-align: center;
}

button{
    background-color: green;
    height: 5vh;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.robot{
    height: 78%;
    width: 30%;
    background-repeat: no-repeat;
    margin: 16vh 0 0 5vw;
   
}
.game{
    height: 90%;
    width: 50%;
}